html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: aqua;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    section {
        width: 100%;
        height: 100%;
        
        #calc-display {
            height: 30%;
            width: 100%;

            .calc-display-header {
                height: 20%;
                width: 100%;
            }

            .calc-display-menu {
                height: 20%;
                width: 100%;
            }

            .calc-display-main {
                height: 40%;
                width: 100%;
            }

            .calc-display-footer {
                height: 20%;
                width: 100%;
            }

        
        }

        .calc-button {
            height: 70% ;
            width: 100%;
            display: flex;
            flex-direction: column;
            

            .buttons-row {
                height: calc(100% / 6);
                width: 100%;
                display: flex;
                flex-direction: row;

                .button {
                    height: 100%;
                    width: calc(100% / 4);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;

                    
                    img {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }



    }

    aside {      
        
        display: none;

    }


}

@media (min-width: 576px) {
    #main-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        section {
            width: 70%;
            height: 100%;

        }

        aside {
            width: 30%;
            height: 100%;
            display: block;

        }


    }
}